@import '../../SCSS/Variables.scss';

.ingredients-table {
  background-color: $background-black-transparent;
  color: white;
  height: 630px;
  width: 100%;

  .MuiDataGrid-root {
    color: white;

    .MuiTablePagination-root {
      color: white;

      .Mui-disabled {
        background-color: transparent;
        color: rgba(216, 216, 216, 0.4);
      }
    }
  }
}

.add-cocktail-btn-box {
  background-color: $background-black-transparent;
  width: 100%;
  
  .add-cocktail-btn {
    background-color: $primary-color;
    margin: 5px;
    color: white;
    font-weight: bolder;
  }

  .add-cocktail-btn:hover {
    background-color: white;
    color: $primary-color;
    font-weight: bolder;
  }

}