@import '../../SCSS/Variables.scss';

.addBar-form {
  h3 {
    padding: 0 0 0 24px;
  }

  .MuiRating-root {
    margin: 0 24px 0 24px;
  }
}

.addBarReview-container {
  .MuiPaper-root {
    padding: 16px;
  }

  .addReviewBtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }

  .addReviewBtn:hover {
    text-decoration: underline;
  }

  .alreadyReviewed {
    margin: 0;
    color: $background-white-transparent-hover;
    font-size: 16px;
    padding: 0 6px 0 6px;
  }
}
