@import '../../SCSS/Variables.scss';

.MuiFormControl-root {
  margin: 3em;
}

.uploadImage-container {
  .MuiPaper-root {
    padding: 16px;
  }

  .uploadImageBtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }

  .uploadImageBtn:hover {
    text-decoration: underline;
  }

  .alreadyReviewed {
    margin: 0;
    color: $background-white-transparent-hover;
    font-size: 16px;
    padding: 0 6px 0 6px;
  }

  .uploadImage-form {
    padding: 2em;
  }
}
