@import '../../SCSS/Variables.scss';

.bars-search-container {
  border: 1px solid $primary-color;
  background-color: $background-black-transparent;
  padding: 1em;
  margin-bottom: 2em;

  .title-radioButtons-flexContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1em;

    h3 {
      color: white;
      margin: 0;
    }

    .searchBy-form {
      display: flex;
      align-items: center;
      width: fit-content;
      color: white;
      // margin-left: 1em;

      fieldset {
        border: none;
        margin: 0;
        padding: 0;

        input {
          margin-left: 1em;
        }

        input[type='radio'] {
          /* remove standard background appearance */
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          /* create custom radiobutton appearance */
          display: inline-block;
          width: 15px;
          height: 15px;
          padding: 2px;
          /* background-color only for content */
          background-clip: content-box;
          border: 2px solid #bbbbbb;
          // background-color: #e7e6e7;
          border-radius: 50%;
        }

        /* appearance for checked radiobutton */
        input[type='radio']:checked {
          background-color: $primary-color;
        }

        label {
          font-size: 1.17em;
          font-weight: bold;
        }
      }
    }
  }

  .searchField-button {
    .searchField {
      // background: $button-background-white-transparent-hover;
      width: 250px;
      height: 2em;
    }

    .MuiButton-root {
      background-color: $primary-color;
      height: 2em;
      margin-left: 1em;
      // border: white solid 1px;
    }
  }
}

.bars-searchList-container {
  border: 1px solid $primary-color;
  background-color: $background-black-transparent;
  padding: 1em;
  margin-bottom: 2em;

  h1 {
    margin: 0;
    padding: 1rem;
    text-align: left;
    color: white;
  }
}
