@import '../../SCSS/Variables.scss';

.register {
  width: 20em;
  min-height: 22em;
  padding: 2em 4em 6em 4em;
  margin: 9em auto;
  background-color: $backgroundColorForms;
  // color: rgb(184,134,11);
  color: White;
  border-radius: 1em;
  box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);

  .error-msg {
    color: $errorMsgColor;
    font-size: 16px;
    width: 20em;
    text-align: center;
    margin-top: 0;
  }

  // input {
  //   height: 3em;
  //   width: 20em;
  //   border: none;
  //   border-bottom: 1px solid gray;
  //   margin-bottom: 2em;
  // }

  label {
    display: block;
    font-size: 20px;
    font-weight: bolder;
  }

  button {
    @include regLoginButtonStyle();
  }
}
