@import '../../SCSS/Variables.scss';

.setPhotoCoverButton {
  color: $primary-color;
  padding: 4px 4px 0px 4px;
  background-color: $button-background-white-transparent-hover;
  width: fit-content;
  height: 28px;
}

.setPhotoCoverButton:hover {
  color: black;
  cursor: pointer;
}
