@import '../../SCSS/Variables.scss';

.simpleButton {
  color: white;
  background-color: $primary-color;
  border: none;
  padding: 0.25em 0.5em;
  transition: background 0.2s ease-in-out;
}

.simpleButton:hover {
  cursor: pointer;
  color: $primary-color;
  background-color: $button-background-white-transparent-hover;
  border-color: $primary-color;
}
