@import '../../SCSS/Variables.scss';

.cocktailBoxSmall-container {
  display: grid;
  width: 150px;
  position: relative;

  .cocktailBoxSmall-image {
    width: fit-content;
    height: 150px;
    border: 1px solid $background-white-transparent;
    cursor: pointer;

    img {
      width: 150px;
    }
  }

  .cocktailBoxSmall-name {
    background-color: $primary-color;
    border: 1px solid $background-white-transparent;
    width: 120px;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 15px;

    p {
      text-align: center;
      font-size: 12px;
      color: white;
      margin: 0;
      padding: 2px 15px 2px 15px;
    }
  }
}
