@import '../../SCSS/Variables.scss';

.table-box {
  background-color: $background-black-transparent;
 
  .add-ingredients {
    background-color: $primary-color;
    height: 55px;
    color: white;
    font-weight: bolder;

    &:hover {
      background-color: white;
      color:  $primary-color-transparent;
      font-weight: bolder;
    }

  }
  .MuiButton-root {
    background-color: $primary-color;
    color: white;

    &:hover {
      background-color: white;
      color: $primary-color;
    }
  }
}
