@import '../../SCSS/Variables.scss';

.login {
  width: 20em;
  min-height: 22em;
  padding: 2em 4em 4em;
  margin: 12em auto;
  background-color: $backgroundColorForms;
  color: white;
  border-radius: 1em;
  box-shadow: 0px 0px 9px 3px rgba(255, 255, 255, 0.5);

  .error-msg {
    color: $errorMsgColor;
    font-size: 14px;
    width: 23em;
    text-align: center;
  }

  input {
    height: 3em;
    width: 20em;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 2em;
  }

  label {
    display: block;
    font-size: 20px;
    font-weight: bolder;
  }

  a {
    color: white;
    text-decoration: underline;
  }


  button {
    @include regLoginButtonStyle();
  }
}
