@import '../../SCSS/Variables.scss';

.editBarInfo-container {
  margin-top: 1em ;

  .MuiPaper-root {
    padding: 16px;
  }

  .editInfoBtn {
    background: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }

  .editInfoBtn:hover {
    // text-decoration: underline;
  }
}
