@import '../../SCSS/Variables.scss';

.homePage-container {
  .home-logo {
    margin: 5em;
  }

  a {
    text-decoration: none;
  }

  .MuiButton-root {
    width: 175px;
    background-color: $primary-color-transparent;
    margin: 0 1em;
    border: 1px solid $button-background-white-transparent-hover;

    .MuiButton-endIcon {
      margin: 0;
    }
  }

  .MuiButton-root:hover {
    background-color: $primary-color-transparent;
  }
}
