@import '../../SCSS/Variables.scss';

.cocktail-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1em;
  // background-color: $background-white-transparent;
  background-color: $background-black-transparent;

  border: 2px solid $primary-color;
  width: fit-content;
  justify-self: center;
  transition: box-shadow .2s;

  // &:hover {
  //   box-shadow: 0 0 25px rgba(255, 255, 255, 0.9); 
  // }

  .star {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(193,159,69);
    font-size: 30px;
  }

  .cocktail-box-img {
    height: 10em;
    margin: 1em;
    border: 1px solid white;
    box-shadow: 0px 0px 9px 3px rgba(255, 255, 255, 0.4);
  }

  img {
    width: 10em;
    height: auto;
  }

  p {
    text-align: center;
    font-size: 14px;
    // color: black;
    color: white;
    margin: 0.5em 0 0.6em 1em;
    text-align: start;
  }

  h3 {
    color: white;
    // color: black;
    margin-bottom: 0;
    margin-left: 0.8em;
    text-align: start;
  }

   a {
     width: 250px;

    button {
      margin-top: 30px;
      background-color: $primary-color;
      color: white;
      border: none;
      height: 30px;
      width: 250px;

      &:hover {
        color: $primary-color;
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
   }  
}
