@import '../../SCSS/Variables.scss';

a {
  text-decoration: none;
  color: black;
}

.singleBar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid $primary-color;
  margin-bottom: 2em;
  transition: background 0.5s ease-in-out;

  .barInfo-container {
    display: grid;
    grid-template-columns: 200px auto 200px;
    column-gap: 1em;

    .barInfo-barImage {
      width: 200px;
      height: 135px;

      img {
        width: 100%;
        border: 1px solid $button-background-white-transparent-hover;
      }
    }

    .barInfo-text {
      display: grid;
      align-content: flex-start;
      height: fit-content;

      h2 {
        margin: 0 auto 1em 0;
        font-size: 28px;
        color: white;
      }

      h4 {
        text-align: left;
        margin: 0;
        color: white;
        width: fit-content;
        // border-bottom: 1px solid $primary-color;

        .barInfo-textIcon {
          display: inline-block;
          width: fit-content;
          // position: absolute;
          // color: $primary-color;

          MuiSvgIcon-root {
            color: $primary-color;
          }
        }
      }
    }

    .barInfo-rating-button {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .barInfo-rating-container {
        margin: 0 0 0 auto;
        width: fit-content;
        // text-align: center;

        .barInfo-stars {
          display: flex;
          justify-content: right;
          // margin-top: 10px;
        }

        .barInfo-text {
          display: flex;
          justify-content: right;
        }

        p {
          margin: 0;
          color: white;
        }
      }

      .barInfo-button-container {
        width: fit-content;
        margin: 0 0 0 auto;

        .MuiButton-root {
          background-color: $primary-color;
          height: 2em;
          margin-left: 1em;
          // border: white solid 1px;
        }
      }
    }
  }

  .barCocktails-container {
    border: 1px solid $primary-color;
    background-color: $background-black-transparent-2;

    .barCocktails-title {
      background: $primary-color;
      color: white;
      margin: 0;
      padding: 0 0.2em 0.2em 1em;
      // width: fit-content;
      text-align: left;
    }

    .barCocktails-list {
      li {
        color: white;
      }

      h4 {
        color: white;
        text-align: left;
        margin: 0;

        span {
          font-weight: normal;
        }
      }
    }
  }
}

.singleBar-container:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
