@import '../../SCSS/Variables.scss';

.footer-container {
  text-align: center;
  min-height: 6em;
  width: 100%;
  margin-top: 4em;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1em 0 1.5em 0;

  h2 {
    color: $button-background-white-transparent-hover;
    margin: 0 0 1em 0;
  }

  p {
    margin: 0 auto;
    width: fit-content;
    color: $button-background-white-transparent-hover;
  }
}
