@import '../../SCSS/Variables.scss';

.cocktails-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  justify-content: space-around;
  width: 58m;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // background-color: $background-black-transparent;
  // border: 1px solid $primary-color;
  // padding: 1em;
}

.pagination {
  button.MuiPaginationItem-root {
    color: $whiteColor;

    &:hover{
      background-color: $primary-color;

    }
  }

  button.Mui-selected {
    background-color: $primary-color;
  }

}
