@import '../../SCSS/Variables.scss';

.user-Details-main {
  border: 1px solid $primary-color;
  background-color: $background-black-transparent;
  padding: 1em;

  .userDetails-userInfo {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 0.5em;
    margin-bottom: 2em;

    .user-Details-icon {
      display: block;
      width: min-content;
      color: white;
    }

    .user-Details-username {
      margin: 0 auto 0 0;
    }

    h3 {
      color: white;
    }

    p {
      color: white;
    }
  }

  .userDetails-favCocktails-title {
    width: 100%;

    .userDetails-favCocktails {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      background-color: $background-white-transparent;
      padding: 1em;
      padding-bottom: 1.5em;
    }

    h2 {
      margin: 0;
      padding: 1rem 1rem 0.5rem 1rem;
      text-align: left;
      color: white;
    }
  }

  .userDetails-barsReviewed-title {
    width: 100%;

    .userDetails-barsReviewed {
      display: grid;
      grid-template-columns: 1fr;
      background-color: $background-white-transparent;
      padding: 0 2em 0 2em;
    }

    h2 {
      margin: 0;
      padding: 1rem 1rem 0.5rem 1rem;
      text-align: left;
      color: white;
    }
  }
}
