@import '../../SCSS/Variables.scss';

.barDetails-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  border: 1px solid $primary-color;
  background-color: $background-black-transparent;
  padding: 1em;
  margin-bottom: 2em;

  img {
    width: 100%;
    border: 1px solid $background-white-transparent;
  }

  .barDetails-header-right {
    display: grid;

    .barDetails-header-right-text {
      h1 {
        color: white;
        margin: 0 auto 0.5em auto;
      }

      h3 {
        text-align: left;
        color: white;
        margin: 0 0 0 1em;
      }
    }

    .barDetails-header-right-rating-review {
      display: grid;
      align-content: flex-end;

      .barRating {
        width: fit-content;
        height: fit-content;
        margin: 0 0 0 auto;
      }

      .textRating-addBarReview {
        display: flex;
        justify-content: right;
        align-items: center;

        .textRating {
          width: fit-content;

          p {
            margin: 0;
            color: white;
          }
        }
      }
    }
  }
}

.bar-Details-title-gallery {
  position: relative;
  border: 1px solid $primary-color;
  background-color: $background-black-transparent;
  margin-bottom: 2em;

  h1 {
    margin: 0;
    padding: 1rem 1rem 0 1rem;
    text-align: left;
    color: white;
  }

  .uploadImage-container {
    position: absolute;
    width: fit-content;
    top: 1em;
    right: 0.5em;
  }

  .bar-Details-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;

    padding: 1em;

    .bar-image {
      position: relative;

      img {
        width: 100%;
        border: 1px solid $background-white-transparent;
      }

      .setPhotoCoverButton {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
      }
    }
  }
}

.bar-Details-title-cocktails {
  border: 1px solid $primary-color;
  background-color: $background-black-transparent;
  margin-bottom: 2em;

  h1 {
    margin: 0;
    padding: 1rem 1rem 0 1rem;
    text-align: left;
    color: white;
  }

  .bar-Details-cocktails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;

    padding: 1em;

    .addCocktailBox {
      border: 1px solid $primary-color;
      cursor: pointer;
      min-height: 129px;

      h1 {
        text-align: center;
        margin: 0 auto;
        color: white;
        padding: 20px 20px 0 20px;
      }

      h3 {
        text-align: center;
        margin: 0 auto;
        color: white;
      }
    }
  }
}

.bar-Details-title-reviews {
  border: 1px solid $primary-color;
  background-color: $background-black-transparent;
  margin-bottom: 2em;

  h1 {
    margin: 0;
    padding: 1rem 1rem 0 1rem;
    text-align: left;
    color: white;
  }

  .bar-Details-reviews {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;

    padding: 1em;
  }
}
