@import '../../SCSS/Variables.scss';

.header {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 1em 0;
  text-align: center;
  width: auto;
  margin-bottom: 2em;

  a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 0 0.5em 0 0.5em;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    padding: 7px 10px 7px 10px;
    // height: 20px;
    // padding-top: 12px;
    // border-radius: 7px;

    &:hover {
      background: linear-gradient(
        to bottom,
        rgba(112, 38, 38, 0),
        rgba(124, 55, 33, 0.61)
      );
      padding: 7px 10px 7px 10px;
    }
  }

  .MuiBox-root {
    margin: 0;
    padding: 0;

    .profile-link {
      margin: 0;
      padding: 0;
      text-decoration: underline;
      color: white;
      background-color: $background-black-transparent-2;
      font-size: 14px;
      width: 30px;
    }
  }
}
