@import '../../SCSS/Variables.scss';

.barReviewBox {
  border: 1px solid $primary-color;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background 0.5s ease-in-out;
  padding: 1em;

  .barReview-header-rating {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;

    .barReview-header {
      display: grid;
      grid-template-columns: min-content auto;
      column-gap: 10px;
      .barReview-profileIcon {
        color: white;
        width: min-content;
      }

      .barReview-userName-userButton {
        display: grid;
        align-content: center;
        // text-align: left;

        h3 {
          text-align: left;
          color: white;
          margin: 0;
        }

        a {
          width: min-content;
        }

        button {
          width: 150px;
        }
      }
    }

    .barReview-rating-container {
      margin: 0 0 0 auto;
      width: min-content;
      text-align: right;

      .barReview-stars {
        display: flex;
        justify-content: right;
        margin-top: 10px;
      }

      .barReview-text {
        display: flex;
        justify-content: center;
      }

      p {
        margin: 0;
      }
    }
  }
}

p {
  text-align: left;
}

.barReviewBox:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
