@import '../../SCSS/Variables.scss';

.cocktail-details-container {
  display: grid;
  row-gap: 1em;
  justify-content: center;
  margin-top: 2em;
  width: 59.5em;
  color: white;

  .cocktail-details-row1 {
    width: 59.5em;

    .cocktail-container {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin-bottom: 1em;
      // background-color: $background-white-transparent;
      background-color: $background-black-transparent;
      width: 100%;
      border: 2px solid $primary-color;
      justify-self: center;
      

      // &:hover {
      //   box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
      // }

      .star {
        position: absolute;
        top: 20px;
        right: 20px;
        color: rgb(193, 159, 69);
        font-size: 50px;
      }

      .cocktail-box-img {
        height: 15em;
        width: 15em;
        margin: 1.5em;
        border: 1px solid white;
        box-shadow: 0px 0px 9px 3px rgba(255, 255, 255, 0.4);
      }

      img {
        width: 15em;
        height: auto;
      }

      p {
        text-align: center;
        font-size: 26px;
        // color: black;
        color: white;
        margin: 0.5em 0 0.6em 1em;
        text-align: start;
      }

      h3 {
        color: white;
        // color: black;
        margin-bottom: 1.5em;
        margin-left: 0.8em;
        text-align: start;
        font-size: 35px;
      }

      //  a {
      //    width: 250px;

      //   button {
      //     margin-top: 30px;
      //     background-color: $primary-color;
      //     color: white;
      //     border: none;
      //     height: 30px;
      //     width: 250px;

      //     &:hover {
      //       color: $primary-color;
      //       background-color: rgba(255, 255, 255, 0.7);
      //     }
      //   }
      //  }
    }
  }

  // .cocktail-details-row1 {
  //   display: grid;
  //   grid-template-columns: 1fr 2fr;
  //   border: 2px solid $primary-color;
  //   background-color: $background-black-transparent;
  //   color: white;

  //   img {
  //     margin: 1em;
  //     width: 250px;
  //     height: 250px;
  //     border: 1px solid white;
  //     box-shadow: 0px 0px 9px 3px rgba(255, 255, 255, 0.4);
  //   }

  //   .cocktail-info-right {
  //     font-family: 'Courier New', monospace;
  //   }
  // }

  .cocktail-details-row2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1em;

    .cocktails-available-bars {
      width: 100%;
      text-align: left;
      border: 2px solid $primary-color;
      background-color: $background-black-transparent;
      // color: white;
      
      h2 {
        margin-left: 20px;
      }
    }

    .users-section {
      border: 2px solid $primary-color;
      background-color: $background-black-transparent;
      color: white;

      a {
        color: white;
        text-decoration: underline;
      }
    }

  }
}
