@import '../../SCSS/Variables.scss';

.barCocktailBox-cocktailDetailsBtn {
  .barCocktailBox {
    position: relative;
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 1em;
    border: 1px solid $primary-color;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background 0.5s ease-in-out;

    .barCocktailBox-image {
      width: 100px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .barCocktailBox-info {
      padding-right: 1em;
      h4 {
        margin: 0.5em auto 0 auto;
        text-align: left;
      }
      p {
        text-align: left;
        font-size: 14px;
      }
    }

    .cocktails-details-deleteBtn {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 2em;
      font-weight: 100;
      color: white;
      border: none;
      width: min-content;
      background-color: transparent;
      cursor: pointer;
    }

    .cocktails-details-deleteBtn:hover {
      color: black;
    }
  }

  .barCocktailBox:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .cocktailDetailsBtn {
    width: 100%;

    button {
      width: 100%;
    }
  }
}
