@import '../../SCSS/Variables.scss';

.bar-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 2px solid $primary-color;
  background-color: $background-white-transparent;
  margin: 1em;
  padding: 0.5em;

  img {
    width: 9em;
    height: 9em;
    
  }

  .MuiRating-root {
    margin-left: 10px;
  }

  button {
    background-color: $primary-color;
    color: white;

    &:hover {
      background-color:white;
      color: $primary-color;
    }

  }
}