@import '../../SCSS/Variables.scss';

.barReviewBoxUserDetails {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2em;
  margin: 2em 0 2em 0;

  .barReviewBoxUserDetails-left {
    border-right: 1px solid black;

    a {
      text-decoration: none;
    }

    h2 {
      padding: 0;
      text-align: center;
      color: black;
      margin: 0 0 0.5em 0;
      transition: color 0.2s ease-in-out;
    }

    h2:hover {
      color: $button-background-white-transparent-hover;
    }

    .barReview-barGrade {
      display: flex;
      margin: 0 auto;
      justify-content: center;

      .barReview-stars {
        width: fit-content;
        margin-right: 0.5em;
      }

      .barReview-number {
        width: fit-content;

        h3 {
          // color: white;
          margin: 0;
        }
      }
    }
  }

  // .barReviewBoxUserDetails-left:hover {
  //   border-right: 1px solid black;

  //   h2 {
  //     padding: 0;
  //     text-align: center;
  //     color: white;
  //     margin: 0 0 0.5em 0;
  //   }
  // }

  .barReviewBoxUserDetails-right {
    .barReview-userGrade {
      display: flex;
      margin: 0 auto;
      justify-content: right;

      .barReview-stars {
        width: fit-content;
        margin-right: 0.5em;
      }

      .barReview-number {
        width: fit-content;

        h3 {
          // color: white;
          margin: 0;
        }
      }
    }
  }

  p {
    margin: 0;
    font-weight: 600;
  }
}
