@import '../../SCSS/Variables.scss';

.addBar-container {
  background-color: $background-black-transparent;
  border: 1px solid $primary-color;
  padding-bottom: 5em;

  h1 {
    color: white;
  }

  .addBar-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
    background-color: $button-background-white-transparent-hover;

    .MuiFilledInput-input {
      background-color: white;
      border-radius: 5px;
    }

    label {
      margin: 0 auto 0 0;
    }

    .MuiButton-root {
      background-color: $primary-color;
    }
  }
}
