// Colours
$blackColor: black;
$whiteColor: rgb(246, 246, 246);
$errorMsgColor: red;
$backgroundColorForms: rgba(3, 3, 3, 0.83);
$primary-color: rgb(150, 70, 50);
$primary-color-transparent: rgba(150, 70, 50, 0.75);
$background-black-transparent: rgba(0, 0, 0, 0.6);
$background-black-transparent-2: rgba(0, 0, 0, 0.4);
$background-white-transparent: rgba(255, 255, 255, 0.3);
$background-white-transparent-hover: rgba(255, 255, 255, 0.5);
$button-background-white-transparent-hover: rgba(255, 255, 255, 0.75);

// Shadows
$boxShadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(126, 127, 131, 0);

// Fonts
$titleFont: monospace;

// Functions
@mixin regLoginButtonStyle {
  font-size: 20px;
  color: $whiteColor;
  height: 2em;
  width: 13.5em;
  // background-color: rgba(95, 158, 160, 0.486);
  background-color: $primary-color;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  margin-top: 1em;
}
